{% extends 'base_7.html' %}
{% block meta %}
<!-- {% load static %} -->
<title>Zaldy Pagi</title>
<link rel="icon" href="/static/images/smile.png">

{% endblock %}
{% block headercontent %}
<span style="font-size: 60px; line-height: normal;">Story 9!</span>
<br><br><br>

{% endblock %}
{% block content %}

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script><br><br>

<div class="wrapper"><br><br>

    {% if user.is_authenticated %}

    <div class="container p-5" style="background-color: #00AA13; border-radius: 15px;">
        <div class="ada">
            <button class="accordion text-footer text-center" style="font-size:5vw;">
                Halo {{  request.user }}
            </button>
        </div>
        <div style="align-items: center;">
        <a href="{% url 'story_9:user_logout' %}"><button type="button" id="signup"
                style="border-radius: 25px; padding: 10px 50px 10px 50px;" class="btn btn-lg  btn-danger m-2">Log
                Out?</button></a>
            </div>
                
    </div>
    {% else %}

    <div class="text-center">
        <a href="{% url 'story_9:register' %}"><button type="button" id="signup"
                style="border-radius: 25px; padding: 10px 50px 10px 50px;" class="btn btn-lg  btn-success m-2">Sign
                Up?</button></a>
        <a href="{% url 'story_9:user_login' %}"><button type="button" id="login"
                style="border-radius: 25px; padding: 10px 50px 10px 50px;"
                class="btn btn-lg btn-success m-2">Login</button></a>
    </div><br><br><br><br><br><br>

    {% endif %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

{% endblock %}