{% extends 'base_7.html' %}
{% block meta %}
<!-- {% load static %} -->
<title>Zaldy Pagi</title>
<link rel="icon" href="/static/images/smile.png">

{% endblock %}
{% block headercontent %}
<span style="font-size: 60px; line-height: normal;">Login</span>
<br><br><br>
{% endblock %}

{% block content %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script><br><br>
<div class="wrapper">
    <form method="POST" action="{% url 'story_9:user_login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username" style="font-size: large;"><b>Username:</b></label> <input type='text'
                class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="id_username" style="font-size: large;"><b>Password:</b></label> <input type='password'
                class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <br>
        
        {% if p != None %}
        <h3><i>* {{ p }} </i></h3>
        {% endif %}
        <br>
        <div class="d-flex flex justify-content-center mt-2">
            <button style="border-radius: 25px; padding: 10px 50px 10px 50px;" class="log-buty btn btn-success">Log In</button>
        </div><br>
        <div class="d-flex flex justify-content-center mt-2">
            <a href="{% url 'story_9:register' %}"><button type="button" id="signup"
                    style="border-radius: 25px; padding: 10px 50px 10px 50px;" class="btn btn-light m-2">Doesn't have an account</button></a>
        </div>
    </form>
</div><br><br><br><br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


{% endblock %}