{% extends 'base_7.html' %}
{% block meta %}
<!-- {% load static %} -->
<title>Zaldy Pagi</title>
<link rel="icon" href="/static/images/smile.png">

{% endblock %}
{% block headercontent %}
<span style="font-size: 60px; line-height: normal;">Register</span>
<br><br><br>
{% endblock %}

{% block content %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script><br><br>
<div class="wrapper">
    <form method="POST" style="margin: 10px;">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-10">
                <div class="form-group">
                    <label for="id_username" style="font-size: large;"><b>Username:</b></label> <input
                        class="form-control" type="text" name="username" maxlength="150" autocapitalize="none"
                        autocomplete="username" autofocus required id="id_username">
                </div>
                <div class="form-group">
                    <p><label for="id_password1" style="font-size: large;"><b>Password:</b></label> <input
                            class="form-control" type="password" name="password1" autocomplete="new-password" required
                            id="id_password1"></p>
                </div>
                <div class="form-group">
                    <p><label for="id_password2" style="font-size: large;"><b>Password confirmation:</b></label><input
                            class="form-control" type="password" name="password2" autocomplete="new-password" required
                            id="id_password2"></p>
                </div>
            </div><br>
            <div>
                <button type="submit" style="border-radius: 25px; padding: 10px 50px 10px 50px; "
                    class="btn btn-lg  btn-success m-2">Register</button>

                <a href="{% url 'story_9:user_login' %}"><button type="button"
                        style="border-radius: 25px; border-color: black;" class="btn btn-lg  btn-light ">Already Have an
                        Account?</button></a>
            </div><br><br>
            {% if p != None %}
            <h5><i>* {{ p }} </i></h5>
        </div>
    </form>
    <div class="ada">
        <button class="accordion text-footer">
            <a class="reorder-down">&#x25BC;</a>Ketentuan</button>
        <div id="accordioncontent_1" class="accordion-content" style="color: black;">
            <h4><b>Username:</b></h4>
            <li>You can't register same account more than once</li>
            <li>150 characters or fewer. </li>
            <li>Letters, digits and @/./+/-/_ only.</li>
            <h4><b>Password:</b></h4>
            <li> Your password can’t be too similar to your username.</li>
            <li> Your password must contain at least 8 characters.</li>
            <li> Your password can’t be a commonly used password.</li>
            <li> Your password can’t be entirely numeric.</li>
        </div>
    </div>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".accordion-content").hide();
        $(".accordion").click(function () {
            var id = this.id;   /* getting heading id */
            /* looping through all elements which have class .accordion-content */
            $(this).next().toggle("slow");  /* Selecting div after h1 */
        });
    });
</script>

{% endblock %}