/*!

 =========================================================
 * Now-ui-kit - v1.1.0
 =========================================================

 * Product Page: http://www.creative-tim.com/product/now-ui-kit
 * Copyright 2017 Creative Tim (http://www.creative-tim.com)
 * Licensed under MIT (https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/
 

:root {
  --main-color: #0c0b11;
  --border-color: #4E1593;
  --second-color: #5511A7;
}

 /*     Button Sosmed         */

.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 5px 1px;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  color: var(--second-color);
  
}

.nowrap{
  white-space: nowrap;
}



.navbar-expand-lg {
  background-color: var(--main-color);
}

.content, .footer-big {
  background-color: var(--second-color);
}


.mb-3 {
  max-width: 900px;
  align-content: center;
  border-radius: 20px; 
  background-color: var(--border-color);
}

div.card-body {
  color: aliceblue;
}

p.card-body {
  font-size: 16px;
}

/*     space Sosmed     */
.btn.btn-icon,
.navbar .navbar-nav > a.btn.btn-icon {
  height: 10.375rem;
  min-width: 10.375rem;
  width: 10.375rem;
  padding: 0;
  font-size: 0.9375rem;
  overflow: hidden;
  position: relative;
  line-height: normal;
  
}

.btn.btn-icon.btn-lg,
.navbar .navbar-nav > a.btn.btn-icon.btn-lg {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
}

/*     POSISI lOGO SOSMED        */
.btn.btn-icon:not(.btn-footer) i.now-ui-icons,
.btn.btn-icon:not(.btn-footer) i.fa,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.now-ui-icons,
.navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  line-height: 1.5626rem;
  width: 25px;
}

/*     ROUND SOSMED        */
.btn-round {
  border-width: 50px;
  border-radius: 30px !important;
  padding: 21px 23px;
}

/*     transparent SOSMED  bawah      */

.btn-link {
  border: 0;
  padding: 0.5rem 0.7rem;
  background-color: transparent;
}


h1 small, .h1 small {
  font-weight: 700;
  text-transform: uppercase;
  opacity: .8;
}

h2, .h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

h3, .h3 {
  font-size: 2em;
  margin-bottom: 30px;
  line-height: 1.4em;
}

h4, .h4 {
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 15px;
  margin-bottom: 15px; 
}


h4 + .category,
h4.title + .category, .h4 + .category,
.h4.title + .category {
  margin-top: -10px;
  
}

h5, .h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 1.61em;
}

.description p, p.description {
  font-size: 1.14em;
}


footer {
  background-color: var(--second-color);
}

/*     NAMA REZALDY N      */

.title {
  font-weight: 700;
  color: aliceblue;
}

.title.title-up {
  text-transform: uppercase;
}

.title.title-up a {
  color: var(--second-color);
  text-decoration: none;
}

.title + .category {
  margin-top: -25px;
}

.description,
.card-description,
.mx-auto
.footer-big p {
  color: var(--second-color);
  font-weight: 300;
}


.category {
  text-transform: uppercase;
  font-weight: 700;
  color: #9A9A9A;
}


/*     NAVBAR      */


.navbar a {
  vertical-align: middle;
}

.navbar a:not(.btn):not(.dropdown-item) {
  color: #FFFFFF;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}


.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.1875rem;
}


.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 0.8571em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
}

.navbar .navbar-toggler {
  width: 37px;
  height: 27px;
  outline: 0;
  cursor: pointer;
}

.navbar .navbar-expand-lg .fixed-top {
  background-color: var(--main-color);
  color: var(--main-color);
}



.profile-page .content .social-description h2 {
  margin-bottom: 0px;
}


/*     POSISI SOSMED ATAS     */
.profile-page .button-container {
  margin-top: -106px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}


.section {
  padding: 1em;
  position: relative;
  background: var(--second-color);
  width: 100%;

}

#Proyek {
  border-top: black;
  border: none;
}

#navcolor {
  background-color: var(--main-color);
}


.p-0 {
  background-color: var(--second-color);
}

.page-header {
  height: 100vh;
  max-height: 1050px;
  padding: 0;
  color: var(--main-color);
  position: relative;
  background-position: center center;
  background-size: cover;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.page-header .container > .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  color: #FFFFFF;
  width: 100%;
  max-width: 880px;
}

.page-header .category,
.page-header .description {
  color: var(--main-color)
}

.page-header.page-header-small {
  height: 60vh;
  max-height: 440px;
}

.page-header:after, .page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

/* Header */
/* Navbar style*/
.navbar {
  font-size: 18px;
  letter-spacing: 1px;
}

/* Body */
/* Profile Page Background Style */
.page-header {
  background-color: var(--main-color);
  
  /* Standard syntax */
}

.page-header .btn {
  width: 140px;
}

.cc-profile-image a {
  position: relative;
}

.cc-profile-image a:before {
  content: "";
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
  left: 0;
  -webkit-animation: pulsate 1.6s ease-out;
          animation: pulsate 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 99;
}

.cc-profile-image img {
  position: relative;
  border-radius: 20%;
  height: 240px;
  width: 170px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  z-index: 9999;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
  -webkit-transform: scale(2.06, 1.06);
          transform: scale(1.06, 1.06);
}


/* Profile Page Social button Style */
.button-container .btn-default {
  margin-right: 15px;

}

.desc {
  font-family: 'Open Sans';
}

hr {
  width: 10px;
  color: black;
}



#logo-footer {
  color: #210442;
}

.text-justify {
  font-size: 16px;
}
