body {
	background-color: white;
}

@media only screen and (max-width: 480px) {
	.foto-1 , .foto-2 {
		padding: 0px;
	}

	.foto-2 img{
		width: 80%;
	}
	
	.foto-1 img {
		width: 100%;
	}

	.kategori-search span {
		font-family: Montserrat !important;
		font-style: normal !important;
		font-weight: bold !important;
		font-size:  20px !important;
		text-align: center !important;
		line-height: 22px !important;
		margin-top: 25px;
		margin-bottom: 10px;
		color: #00AA13;
	}
	
	.kategori-search form input {
		border-radius: 10px !important;
		width: 150px !important;
		padding: 20px !important;
		margin-bottom: 25px;
	}
	
	.base-kategori {
		background-color: rgba(196,196,196,0.4);
		padding: 10px 7px 0px 7px !important; 
	}
}

@media only screen and (max-width: 620px) {
	.foto-1 , .foto-2 {
		padding: 0px;
	}

	.foto-2 img{
		width: 80%;
	}
	
	.foto-1 img {
		width: 100%;
	}

	.kategori-search span {
		font-family: Montserrat !important;
		font-style: normal !important;
		font-weight: bold !important;
		font-size:  24px !important;
		text-align: center !important;
		line-height: 25px !important;
		margin-top: 25px;
		margin-bottom: 10px;
		color: #00AA13;
	}
	
	.kategori-search form input {
		border-radius: 10px !important;
		width: 200px !important;
		padding: 20px !important;
		margin-bottom: 50px;
	}
	
	.base-kategori {
		background-color: rgba(196,196,196,0.4);
		padding: 10px 7px 0px 7px !important; 
	}
}

nav .collapse {
	justify-content: flex-end;
}

nav {
	background-color: #00AA13;
	font-family: "Montserrat";
	font-size: 15px;

}

.navbar-expand-lg .navbar-nav .nav-link {
	color: white;
}

.footer {
	color: white;
	margin: auto;
	background-color: rgba(196,196,196,0.4);
	padding: 35px
}

.base-kategori {
	background-color: rgba(196,196,196,0.4);
	padding: 35px 65px 0px 65px; 
}

.foto-2 {
	width: 40%;
}

.foto-1 {
	width: 40%;
}

.kategori-search span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size:  35px;
	text-align: center;
	line-height: 2rem;

	color:#00AA13;
}

.kategori-search form input {
	border-radius: 10px;
	width: 300px;
	padding: 20px;
}

.text-footer {
	font-size: 30px;
	font-family: 'Montserrat';
	color: #00AA13;
	font-weight: bold;

}


.accordion{
    width:70%;
    margin:0 auto;
}

/* accordion heading */
.accordion h1{
    font-size:26px;
    font-weight: normal;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    background-color:gainsboro;
    padding-top:7px;padding-bottom:7px;
    border:1px solid darkgrey;
    border-radius:3px;
}
.accordion h1:hover{
    cursor:pointer;
}

.accordion div{
    display:none;
    padding:10px;
    height:200px;
    line-height:20px;
    border:1px solid gray;
    border-radius:3px;
}

.accordion-content{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-family: Open Sans;
	font-weight: bold;
	color: #eee;
	font-size: large;
}

@media screen and (max-width:480px){
    .accordion{
        width:100%;
        margin:0;
    }
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin-bottom: 10px;
	border-radius: 15px;
	
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	background-color: rgb(179, 179, 179);
  }
  
.reorder-up {
	float: right;
	font-size: 30px;
	color: #00AA13;
	margin-right: 20px;
}


.reorder-down {
	float: right;
	font-size: 30px;
	color: #00AA13;
	margin-right: 20px;
}
 