{% extends 'base_7.html' %}
{% block meta %}
<!-- {% load static %} -->
<title>Landing Page</title>
<link rel="icon" href="/static/images/smile.png">
<link rel="stylesheet" type="text/css" href="{% static 'css/landingPage.css' %}">
{% endblock %}
{% block headercontent %}
<span style="font-size: 60px; line-height: normal;">Story 7</span>
<br>

{% endblock %}
{% block content %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<br><br>

<div class="wrapper">
    <div class="container p-5" style="background-color: #00AA13; border-radius: 15px;">


        <div class="ada">
            <button class="accordion text-footer">
                
                <a class="reorder-down">&#x25BC;</a>Kesibukan
                <a class="reorder-up">&#x25B2;</a>
            </button>
            <div id="accordioncontent_1" class="accordion-content">
                <li> Sibuk Kuliah (Semester 3, 22 SKS)</li>
                <li>COMPFEST Academy</li>
            </div>
        </div>


        <div class="ada">
            <button class="accordion text-footer">
                <a class="reorder-down">&#x25BC;</a>Pengalaman
                <a class="reorder-up">&#x25B2;</a>
            </button>
            <div id="accordioncontent_2" class="accordion-content">
                <li>PJ Kreatif Open House Fasilkom </li>
                <li>PJ Dokumentasi PMB Fasilkom </li>
                <li>Staf Event Perak Fasilkom </li>
                <li>Ketua FMA 2019 Fasilkom </li>
            </div>
        </div>

        <div class="ada">
            <button class="accordion text-footer">
                <a class="reorder-down">&#x25BC;</a>Prestasi
                <a class="reorder-up">&#x25B2;</a>
            </button>
            <div id="accordioncontent_3" class="accordion-content">
                <li> Juara lomba short movie gitu pernah</li>
                <li>Juara lomba digital poster gitu pernah</li>
                <li>Juara MTK juga pernah tapi SD :(</li>
                <li>SMA olim komputer cuma sampe osk abisnya males</li>
                <li>Startup gua kepilih masuk Incubator gitu bro, keren ga</li>
                <li>Doain nanti semester >3 bisa ikut lomba2 lagi</li>
            </div>
        </div>

        <div class="ada">
            <button class="accordion text-footer">
                <a class="reorder-down">&#x25BC;</a>Target
                <a class="reorder-up">&#x25B2;</a>
            </button>
            <div id="accordioncontent_4" class="accordion-content">
                <li>Akademis Semester 3 dan seterusnya bisa stabil dan naik</li>
                <li>Academy COMPFEST lancar jaya no chaos</li>
                <li>Liburan bisa magang di weekdays</li>
                <li>Mau jadi asdos pelajaran SI, hehe</li>
            </div>
        </div>
    </div>
</div>

<br><br>
<script>
    $(document).ready(function () {
        $(".accordion-content").hide();
        $(".accordion").click(function () {
            var id = this.id;   /* getting heading id */
            /* looping through all elements which have class .accordion-content */
            $(this).next().toggle("slow");  /* Selecting div after h1 */
        });
    });

    $(".reorder-up").click(function () {
        var $current = $(this).closest('.ada')
        var $previous = $current.prev('.ada');
        if ($previous.length !== 0) {
            $current.insertBefore($previous).delay(10000)  
        }
        return false;
    });

    $(".reorder-down").click(function () {
        var $current = $(this).closest('.ada')
        var $next = $current.next('.ada');
        if ($next.length !== 0) {
            $current.insertAfter($next).delay(10000);
        }
        return false;
    });


</script>




{% endblock %}