{% extends 'base_7.html' %}
{% block meta %}
{% load static %}
<title>Landing Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/landingPage.css' %}">
{% endblock %}
{% block headercontent %}
<span style="font-size: 50px; line-height: normal;">Story 7</span>
<br>

{% endblock %}
{% block content %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<br><br>

<!-- accordion (start) -->
<div class="accordion">
    <!-- accordion section 1 -->
    <h1 id="accordionhead_1">Heading1  <a href="#" class="reorder-up">Up</a>
        <a href="#" class="reorder-down">Down</a></h1>
        
    <div id="accordioncontent_1" class="accordion-content">
        Content 1
    </div>

    <!-- accordion section 2 -->
    <h1 id="accordionhead_2">Heading2</h1>
    <div id="accordioncontent_2" class="accordion-content">
        Content 2
    </div>

    <!-- accordion section 3 -->
    <h1 id="accordionhead_3">Heading3</h1>
    <div id="accordioncontent_3" class="accordion-content">
        Content 3
    </div>

    <!-- accordion section 4 -->
    <h1 id="accordionhead_4">Heading4</h1>
    <div id="accordioncontent_4" class="accordion-content">
        Content 4
    </div>
</div>
<!-- accordion (end) -->




<script>
    $(document).ready(function(){
        $(".accordion h1").click(function(){
    var id = this.id; 


    $(".accordion-content").each(function(){

        if($("#"+id).next()[0].id != this.id){
            $(this).slideUp("slow");
        }

    });

    $(this).next().toggle("slow");  
});
});

</script>

{% endblock %}