{% extends 'base_7.html' %}
{% block meta %}
<!-- {% load static %} -->
<title>Zaldy Pagi</title>
<link rel="icon" href="/static/images/smile.png">

{% endblock %}
{% block headercontent %}
<span style="font-size: 60px; line-height: normal;">Story 8</span>
<br>

{% endblock %}
{% block content %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<br><br>
<div class="wrapper">
    <div class="container p-4 w-50 justify-content-center "
        style=" background-color: #00AA13; border-radius: 15px; height: 85px;">
        <input class="form-control" id="cari" type="text" name="search" value="Norwegian Wood"
            placeholder="Cari disini..." aria-label="Search"> <br>
    </div><br><br>
    <a id="klik" href="#" class="btn btn-light btn-lg formButtonfront" style="border-radius: 25px; min-width: 150px;margin: 0;
                position: relative;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
                background-color:#00AA13; color: white;">Cari Buku</a>
    <br><br><br>
    <div class="container justify-content-center align-content-center " style="text-align: center">
        <div>
            <table class="table table-hover text-center table-responsive w-100 d-block d-md-table"
                style=" font-style: Open Sans;">
                <thead style="background-color: #00AA13; color: white;">
                    <tr>
                        <th scope="col">Cover Buku</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Penulis</th>
                        <th scope="col">Terbit</th>
                    </tr>
                </thead>
                <div class="tabelbuku">
                    <tbody>

                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>
<br><br>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



<script type="text/javascript">

    $('#klik').ready(function () {
        get_books($('#cari').val())
    })

    $('#klik').click(function () {
        get_books($('#cari').val())
    })

    function get_books(cari) {
        //menjalankan ajax
        $.ajax({

            //mengambil parameter dari views.py django
            url: '/story8/data/?q=' + cari,
            type: 'GET',

            success: function (data) {
                var item = data.items;
                var arrays = [];
                for (i in item) {
                    var b = item[i];
                    arrays.push(b)
                }
                $("tbody").empty();

                for (i in arrays) {
                    $.ajax({
                        type: "GET",
                        async: false,
                        success: function (res) {
                            console.log()
                            var isi = "<tr><td> <img alt='Tidak ada gambar'src='" + arrays[i].volumeInfo.imageLinks.smallThumbnail +
                                "'width='100px' height='130px'></td>" + "<td font-style='Open Sans'>" + arrays[i].volumeInfo.title
                                + "</td>" + "<td>" + arrays[i].volumeInfo.authors + "</td>" + "<td>"
                                + arrays[i].volumeInfo.publishedDate + "</td>";
                            $("tbody").append(isi);
                            isi = " ";
                        }
                    })
                }
            }
        })
    }

</script>


{% endblock %}