<!DOCTYPE html>
{% load static %}

<html lang="en-US" style="scroll-behavior: smooth;">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rezaldy's Story</title>
  <link rel="icon" href="/static/images/smile.png">
  <meta name="description" content="Web yang berisi tentang Zaldy dan Story PPW-nya">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700,200' %}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="css/aos.css" rel="stylesheet"> -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'static_story1/styles/main_1.css' %}" rel="stylesheet">
</head>

<div class="content" style="scroll-behavior: smooth;">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="400" ;">
        <div class="container">
          <div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="#" rel="tooltip">Me</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item""><a class=" nav-link text-light" href="{% url 'homepage:index_story1' %}">Story 1</a></li>
              <li class="nav-item"><a class="nav-link text-light" href="{% url 'homepage:index' %}">Story 3</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="page-content" style="background-color: #5DCAE8;">
    <div class="profile-page" style="margin: 50px 0px 30px 0px;">
      <div class="wrapper">
        <div class="page-header page-header-small">
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#about"><img src="/static/images/zaldy_dokum.png"
                    alt="Image" /></a>
              </div>
              <div class="h4 title" style="color: rgb(232, 232, 232);">Rezaldy Maulana</div>
              <p class="category text-light"> Graphic Designer | Student | Startup Enthusiast</p>
              <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a> -->
            </div>
          </div>
          <div class="section" id="About">
            <div class="container" style="padding-top: 55px;">
              <div class="button-container""><a class=" btn btn-default btn-round btn-lg btn-icon"
                href="https://www.facebook.com/Reza38" rel="tooltip" title="Follow me on Facebook"><i
                  class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://twitter.com/ChrisEvans" rel="tooltip" title="I deactivate my twitter :(">
                  <i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://www.google.co.id/" rel="tooltip" title="Follow me on Google+"><i
                    class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://www.instagram.com/rezaldyahm/" rel="tooltip" title="Follow me on Instagram"><i
                    class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="selection">
    <div class="container">
      <div class="card-body text-center">
        <h5 class="card-title h4 mt-0 title">Tentang</h5>
        <p class="card-text">Lahir di Jakarta, 28 Mei 2001. Saya sedang mengenyam pendidikan S1 jurusan Sistem
          Informasi,
          Fasilkom di Universitas Indonesia. Saya adalah orang yang sangat antusias dengan segala hal berbau digital
          design
          dan selalu merasa tertantang untuk mengerjakan projek-projek baru yang menyelesaikan masalah pendidikan dan
          sosial.
        </p>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="proyek"></div>
      <div class="card p-0" data-aos="fade-up" data-aos-offset="10" style="border: none;">
        <div class="row">
          <div class="col-lg-6 col-md-12" style="padding-bottom: 20px;">
            <div class="card-body">
              <div class="h4 mt-0 title">Informasi Singkat</div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">NPM</strong></div>
                <div class="col-sm-8">:1906299105</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Hobi</strong></div>
                <div class="col-sm-8">: Sepak Bola, Nonton Film Dokumenter</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Pendidikan</strong></div>
                <div class="col-sm-8">: Sistem Informasi, Universitas Indonesia</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Domisili</strong></div>
                <div class="col-sm-8">: Depok</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Riwayat Pendidikan</div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">SD</strong></div>
                <div class="col-sm-8">: SDIT Nurul Fikri</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">SMP</strong></div>
                <div class="col-sm-8">: SMPIT Nurul Fikri</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">SMA</strong></div>
                <div class="col-sm-8">: SMAN 3 Depok</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">S1</strong></div>
                <div class="col-sm-8" id="Proyek">: Universitas Indonesia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>


  <footer class="footer">

    <div class="container text-center"><a class="cc-facebook btn btn-link" id="logo-footer"
        href="https://www.facebook.com/Reza38"><i class="fa fa-facebook fa-2x " id="logo-footer"
          aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " id="logo-footer"
        href="https://twitter.com/ChrisEvans"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a
        class="cc-google-plus btn btn-link" id="logo-footer" href="https://myaccount.google.com" /><i
        class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" id="logo-footer"
        href="https://www.instagram.com/rezaldyahm/"><i class="fa fa-instagram fa-2x " id="logo-footer"
          aria-hidden="true"></i></a></div>

    <div class="h4 title text-center">Rezaldy Maulana</div>

    <div class="text-center text-muted">
      <p>&copy; Creative CV. All rights reserved.<br>Design by - <a class="credit" href="#" target="_blank">Template
          Flip</a> <br>Customized by - <a class="credit" href="https://instagram.com/rezaldyahm" target="_blank">Rezaldy
          Maulana</a> <br><br><br></p>
    </div>
  </footer>

</div>


</html>