
{%load static%}

<head>
<html lang="en-US" style="scroll-behavior: smooth;">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rezaldy's Story</title>
  <link rel="icon" href="/static/images/smile.png">
  <meta name="description" content="Web yang berisi tentang Zaldy dan Story PPW-nya">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700,200' %}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  
  <!-- <link href="css/aos.css" rel="stylesheet"> -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'styles/main.css' %}" rel="stylesheet">

</head>

<header>
    <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="400" ;">
        <div class="container style=">
            {%block navbar%}
            {% endblock %}
        </div>
        </nav>
    </div>
</header>

<div style="background-color: rgb(35, 168, 86);"></div>
<br><br><br><br>
{% block content %}
{% endblock %}
</div>
