<!DOCTYPE html>
{% extends 'base_story6.html' %}

{%block navbar%}

<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'homepage:index' %}"
        rel="tooltip">Back</a>
</div>
{% endblock %}

{% block content %}



<div class="container">
    <a class="btn btn-dark btn-lg btn-block" style="font-size: large; color: white;
     background-color: rgb(19, 20, 20) ; width: 15rem; justify-content: center; margin-bottom: 30px;"
        href="{% url 'story_6:Kegiatan_tambah' %}" role="button">+ Tambah Kegiatan</a>
    <div class="row">

    
    {% for keg in  semuaKegiatan %}
        <div class="card bg-dark text-white"
            style="width: 20rem; box-shadow: 2px 15px 15px 0 rgba(0,0,0,0.2); margin: 20px; max-width: 100%; align-content: center; border-radius: 10px ;">
            <div class="card-header"> Kegiatan {{keg.id}}</div>
            <div class="card-body">
                <div class="card-title" style="font-size:x-large;">{{keg.namaKegiatan}}</div>
               
                <h6>
                Peserta:
                </h6>
                
                {% for instance in kumpulanPeserta %}
                {% if instance.daftarKegiatan == keg %}
                <div style="color: rgb(45, 167, 45);"> {{ instance.namaPeserta }}</div>
                
                {% endif %}
                {% endfor %}
            </div>
            <div class="card-footer">
                <form action="" method="POST"
                {% csrf_token %}
                <a id="tambah" href="{% url 'story_6:Peserta_tambah' id=keg.id %}" class="btn" >Klik Untuk Mendaftar</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}