<!DOCTYPE html>
{% extends 'base_story6.html' %}

{%block navbar%}

<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'homepage:index' %}"
        rel="tooltip">Back</a>
</div>
{% endblock %}

{% block content %}

<form method="POST" style="margin: 10px;">
    {% csrf_token %}
    <div class="form-group">
        {{ peserta }}
        <input class="btn" type="submit" value="Save" />
    </div>
</form> <br><br>
<a class="btn btn-primary btn-dark" href="{% url 'story_6:kegiatan_view' %}" role="button">Lihat Daftar Kegiatan</a>


{% endblock %}