
{%load static%}

<head>
<html lang="en-US" style="scroll-behavior: smooth;">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rezaldy's Story</title>
  <link rel="icon" href="/static/images/smile.png">
  <meta name="description" content="Web yang berisi tentang Zaldy dan Story PPW-nya">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700,200' %}" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="css/aos.css" rel="stylesheet"> -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'styles/main.css' %}" rel="stylesheet">

</head>

<header>
    <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="400" ;">
        <div class="container">
            {%block navbar%}
            
            {% endblock %}
        </div>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}



<footer class="footer" style="background-color: #5511A7;">

    <div class="container text-center"><a class="cc-facebook btn btn-link" id="logo-footer"
        href="https://www.facebook.com/Reza38"><i class="fa fa-facebook fa-2x " id="logo-footer"
          aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " id="logo-footer"
        href="https://twitter.com/ChrisEvans"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a
        class="cc-google-plus btn btn-link" id="logo-footer" href="https://myaccount.google.com" /><i
        class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" id="logo-footer"
        href="https://www.instagram.com/rezaldyahm/"><i class="fa fa-instagram fa-2x " id="logo-footer"
          aria-hidden="true"></i></a></div>

    <div class="h4 title text-center">Rezaldy Maulana</div>

    <div class="text-center text-muted">
      <p>&copy; Creative CV. All rights reserved.<br>Design by - <a class="credit" href="#" target="_blank">Template
          Flip</a> <br>Customized by - <a class="credit" href="https://instagram.com/rezaldyahm" target="_blank">Rezaldy
          Maulana</a> <br><br><br></p>
    </div>
  </footer>