<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}




{%block navbar%}

<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'homepage:index' %}"
        rel="tooltip">Back</a>
</div>
{% endblock %}



{% block content %}

<div class="content">
    <br><br><br>
    <div class="container">
        <div class="proyek"></div>
        <hr style="height:4px;width: 100%;color:gray;background-color: #2c063c">
        <div class="h4 mt-0 title" style="text-align: center; padding-top: 20px;">Film Recommendation</div>
        <br>
        <div class="card mb-3" style="max-width: 100%; align-content: center; border-radius: 20px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/avatar.jpg" class="card-img" alt="..."
                        style="border-radius: 30px; padding: 20px;">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Avatar</h5>
                        <p class="card-text text-justify">On the lush alien world of Pandora live the Na'vi, beings who
                            appear primitive but are highly evolved.
                            Because the planet's environment is poisonous, human/Na'vi hybrids, called Avatars, must
                            link to human minds to allow for free movement on Pandora.
                            Jake Sully (Sam Worthington), a paralyzed former Marine, becomes mobile again through one
                            such Avatar and falls in love with a Na'vi woman (Zoe Saldana).
                            As a bond with her grows, he is drawn into a battle for the survival of her world.</p>
                        <p class="card-text"><small class="text-muted">Adventure | Sci-fi | Action | War
                        </p>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="card mb-3" style="max-width: 100%; align-content: center; border-radius: 20px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/fg.jpeg" class="card-img" alt="..."
                        style="border-radius: 30px; padding: 20px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Forrest Gump</h5>
                        <p class="card-text text-justify" style="font-size: 16px;">Slow-witted Forrest Gump (Tom Hanks)
                            has never thought of himself as disadvantaged,
                            and thanks to his supportive mother (Sally Field), he leads anything but a restricted life.
                            Whether dominating on the gridiron as a college
                            football star, fighting in Vietnam or captaining a shrimp boat, Forrest inspires people with
                            his childlike optimism. But one person Forrest
                            cares about most may be the most difficult to save -- his childhood love, the sweet but
                            troubled Jenny (Robin Wright).</p>
                        <p class="card-text"><small class="text-muted">Romance | Drama | Motivational | Comedy</small>
                        </p>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="card mb-3" style="max-width: 100%; align-content: center;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/ib.jpg" class="card-img" alt="..." style="border-radius: 30px; padding: 20px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">Inglourious Basterds</h5>
                        <p class="card-text text-justify" style="font-size: 16px;">It is the first year of Germany's
                            occupation of France. Allied officer Lt. Aldo Raine (Brad Pitt)
                            assembles a team of Jewish soldiers to commit violent acts of retribution against the Nazis,
                            including the taking of their scalps. He and his men join
                            forces with Bridget von Hammersmark, a German actress and undercover agent, to bring down
                            the leaders of the Third Reich. Their fates converge with theater
                            owner Shosanna Dreyfus, who seeks to avenge the Nazis' execution of her family.</p>
                        <p class="card-text"><small class="text-muted">War | Action | Drama </small>
                        </p>
                    </div>
                </div>
            </div>
        </div> <br><br>
        <div class="card mb-3" style="max-width: 100%; align-content: center;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/ts.jpeg" class="card-img" alt="..."
                        style="border-radius: 30px; padding: 20px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 25px;">The Truman Show</h5>
                        <p class="card-text text-justify" style="font-size: 16px;">He doesn't know it, but everything in
                            Truman Burbank's (Jim Carrey) life is part of a massive TV set.
                            Executive producer Christof (Ed Harris) orchestrates "The Truman Show," a live broadcast of
                            Truman's every move captured by hidden cameras. Cristof tries to
                            control Truman's mind, even removing his true love, Sylvia (Natascha McElhone), from the
                            show and replacing her with Meryl (Laura Linney). As Truman gradually
                            discovers the truth, however, he must decide whether to act on it.
                        </p>
                        <p class="card-text"><small class="text-muted">Comedy | Drama </small>
                        </p>
                    </div>
                </div>
            </div>
        </div> <br><br>

    </div>
    </div>
</div>

{% endblock %}
<!-- 
<footer class="footer" style="background-color: #5511A7;">

    <div class="container text-center"><a class="cc-facebook btn btn-link" id="logo-footer"
            href="https://www.facebook.com/Reza38"><i class="fa fa-facebook fa-2x " id="logo-footer"
                aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " id="logo-footer"
            href="https://twitter.com/ChrisEvans"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a
            class="cc-google-plus btn btn-link" id="logo-footer" href="https://myaccount.google.com" /><i
            class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link"
            id="logo-footer" href="https://www.instagram.com/rezaldyahm/"><i class="fa fa-instagram fa-2x "
                id="logo-footer" aria-hidden="true"></i></a></div>

    <div class="h4 title text-center">Rezaldy Maulana</div>

    <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design by - <a class="credit" href="#" target="_blank">Template
                Flip</a> <br>Customized by - <a class="credit" href="https://instagram.com/rezaldyahm"
                target="_blank">Rezaldy
                Maulana</a> <br><br><br><br></p>
    </div>
</footer> -->

</div>

</html>