<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block navbar %}
      <div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="#" rel="tooltip">Me</a></div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
          <li class="nav-item""><a class=" nav-link text-light" href="{% url 'story_6:kegiatan_view' %}">Story 6</a></li>
          <li class="nav-item"><a class="nav-link  text-light" href="{% url 'story_7:index' %}"> Story 7</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'story_8:fungsi_suatu_url' %}"> Story 8</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="{% url 'story_5:MataKuliah_list_view' %}"> Matkul</a></li>
      </ul>
      </div>
    {% endblock %}
  {% block content %}
<div class="content" style="scroll-behavior: smooth;">
  <div class="page-content" style="background-color: #5DCAE8;">
    <div class="profile-page" style="margin: 50px 0px 30px 0px;">
      <div class="wrapper">
        <div class="page-header page-header-small">
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#about"><img src="static/images/zaldy_dokum.png" alt="Image" /></a>
              </div>
              <div class="h4 title" style="color: rgb(232, 232, 232);">Rezaldy Maulana</div>
              <p class="category text-light"> Graphic Designer | Student | Startup Enthusiast</p>
              <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a> -->
            </div>
          </div>
          <div class="section" id="About">
            <div class="container" style="padding-top: 55px;">
              <div class="button-container""><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://www.facebook.com/Reza38" rel="tooltip" title="Follow me on Facebook"><i
                    class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://twitter.com/ChrisEvans" rel="tooltip" title="I deactivate my twitter :(">
                  <i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://www.google.co.id/" rel="tooltip" title="Follow me on Google+"><i
                    class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                  href="https://www.instagram.com/rezaldyahm/" rel="tooltip" title="Follow me on Instagram"><i
                    class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="selection">
    <div class="container">
      <div class="card text-center p-0" style=" border-radius: 20px; background-color:#4E1792; border: none;">
        <div class="card-body" style="border: none; border-radius: 20px; border-color: #2c063c;">
          <h5 class="card-title h4 mt-0 title">Tentang</h5>
          <p class="card-text">Lahir di Jakarta, 28 Mei 2001. Saya sedang mengenyam pendidikan S1 jurusan Sistem
            Informasi,
            Fasilkom di Universitas Indonesia. Saya adalah orang yang sangat antusias dengan segala hal berbau digital
            design
            dan selalu merasa tertantang untuk mengerjakan projek-projek baru yang menyelesaikan masalah pendidikan dan
            sosial.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="proyek"></div>
      <div class="card p-0" data-aos="fade-up" data-aos-offset="10" style="border: none;">
        <div class="row">
          <div class="col-lg-6 col-md-12" style="padding-bottom: 20px;">
            <div class="card-body" style="background-color: #4E1593; border-radius: 20px;">
              <div class="h4 mt-0 title">Informasi Singkat</div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">NPM</strong></div>
                <div class="col-sm-8">:1906299105</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Hobi</strong></div>
                <div class="col-sm-8">: Sepak Bola, Nonton Film Dokumenter</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Pendidikan</strong></div>
                <div class="col-sm-8">: Sistem Informasi, Universitas Indonesia</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Domisili</strong></div>
                <div class="col-sm-8">: Depok</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body" style="background-color: rgba(48, 40, 63, 0.2); border-radius: 20px;">
              <div class="h4 mt-0 title">Riwayat Pendidikan</div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">SD</strong></div>
                <div class="col-sm-8">: SDIT Nurul Fikri</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">SMP</strong></div>
                <div class="col-sm-8">: SMPIT Nurul Fikri</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">SMA</strong></div>
                <div class="col-sm-8">: SMAN 3 Depok</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">S1</strong></div>
                <div class="col-sm-8" id="Proyek">: Universitas Indonesia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <br><br>
  <div class="container">
    <div class="proyek"></div>
    <hr style="height:4px;width: 100%;color:gray;background-color: #2c063c">
    <div class="h4 mt-0 title" style="text-align: center; padding-top: 20px;">Proyek</div>
    <div class="card mb-3" style="max-width: 100%; align-content: center; border-radius: 20px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/proyek2.png" class="card-img" alt="..." style="border-radius: 30px; padding: 20px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Belumjadi.com</h5>
            <p class="card-text text-justify">Belumjadi.com merupakan platform forum yang belum jadi. Lorem Ipsum is
              simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever
              since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries.</p>
            <p class="card-text"><small class="text-muted">React.js | Python | Django | HTML | CSS<< /small>
            </p>
          </div>
        </div>
      </div>
    </div> <br><br>
    <div class="card mb-3" style="max-width: 100%; align-content: center; border-radius: 20px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/proyek2.png" class="card-img" alt="..." style="border-radius: 30px; padding: 20px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sekelas.net</h5>
            <p class="card-text text-justify" style="font-size: 16px;">Belumjadi.com merupakan platform forum yang belum
              jadi. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to make
              a type specimen book. It has survived not only five centuries.</p>
            <p class="card-text"><small class="text-muted">React.js | Python | Django | HTML | CSS<< /small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <br>
      <a style="font-size: 20px; color: aliceblue;" href="{% url 'homepage:film' %}"><u>Movie Bucket List</u></a>
      </button>
      <br><br><br>
    </div>
  </div>

</div>



{% endblock%}
