

<!DOCTYPE html>
{% extends 'base_story5.html' %}


{%block navbar%}

<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'story_5:MataKuliah_list_view' %}"
        rel="tooltip">Back</a>
</div>
{% endblock %}



{% block content %}

<br><br><br><br>
<form method="POST" style="margin: 10px;">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p}}
        <input type="submit" value="Save" />
    </div>
  </form> 
  
<a class="btn btn-primary btn-dark" href="{% url 'story_5:MataKuliah_list_view' %}" role="button">Lihat Daftar Matkul</a>

{% endblock %}


