<!DOCTYPE html>
{% extends 'base_story5.html' %}

{%block navbar%}
<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'story_5:MataKuliah_list_view' %}"
        rel="tooltip">Back</a>
</div>

{% endblock %}

{% block content%}

<br><br><br><br>
<div class="selection">
    <div class="container">
<form action='.' method='POST'>{% csrf_token %}
    <h1>Apakah kamu YAKIN ingin menghapus matkul "{{ Object.nama }}" ?</h1>
    <br>
    <h1><input type='submit' value='Yes' onclick="location.href='matkul_list.html';"/> <a href="{% url 'story_5:MataKuliah_list_view' %}">   Cancel</a></h1>
</form>
</div></div>
{%endblock%}

 