
<!DOCTYPE html>
{% extends 'base_story5.html' %}

{%block navbar%}

<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'homepage:index' %}"
        rel="tooltip">Back</a>
</div>
{% endblock %}

{% block content %}

<br><br><br><br>
<div class="selection style="background-color: #5DCAE8;">
    <div class="container"">
    <div class="card" style="width: 25rem; height: 25rem">
  <div class="card-body">

    <h5 class="card-title text-dark">{{Object.nama}} </h5><br>
    <h6 class="card-subtitle mb-2 text-dark"> Jumlah SKS :{{Object.jumlahsks}} </h6><br>
    <h6 class="card-subtitle mb-2 text-dark"> Dosen :{{Object.dosen}} </h6><br>
    <h6 class="card-subtitle mb-2 text-dark"> Ruang Kelas :{{Object.ruangkelas}} </h6><br>
    <h6 class="card-subtitle mb-2 text-dark"> Deskripsi: {{Object.deskripsi}} </h6><br><br>
    
  </div>
</div>

<th scope="row">{{instance.nama}}</th>
            <td>{{instance.dosen}}</td>
            <td>{{instance.jumlahsks}}</td>
            <td>{{instance.ruangkelas}}</td><br>
    <a class="btn btn-primary" href="{% url 'story_5:MataKuliah_list_view' %}" role="button">Lihat List Matkul</a>
    </div>
</div>


{% endblock %}



