
<!DOCTYPE html>
{% extends 'base_story5.html' %}

{%block navbar%}

<div class="navbar-translate navbar-dark"><a class="navbar-brand text-light" href="{% url 'homepage:index' %}"
        rel="tooltip">Back</a>
</div>
{% endblock %}


{% block content %}

<div class="selection">
    <div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Dosen</th>
            <th scope="col">JumlahSKS</th>
            <th scope="col">Ruangan</th>
            <th scope="col">Lihat Detail</th>
            <th scope="col">Hapus</th>
            </tr>
            </thead>
        <tbody>
            {% for instance in  object_list %}
            <tr>
            <th scope="row">{{instance.nama}}</th>
            <td>{{instance.dosen}}</td>
            <td>{{instance.jumlahsks}}</td>
            <td>{{instance.ruangkelas}}</td>
            <td><a id="detail" href="{% url 'story_5:MataKuliah_detail_view' instance.id %}" class="card-link">Lihat</a></td>
            <td><a id="delete" href="{% url 'story_5:MataKuliah_hapus_view' instance.id %}" class="card-link">Hapus</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </div>
<a class="btn btn-primary btn-dark btn-lg btn-block" href="{% url 'story_5:MataKuliah_tambah_view' %}" role="button">Tambah</a>
</div>
{% endblock %}